body
{
    background-color: lightcyan;
    color: black;
    padding: 5% 5%;
    font-size: 1.5vw;
}
h1
{
    color: ivory;
    font-size: 3vw;
    margin: 2%;
}
h2
{
    font-size: 2vw;
    color: darkgray;
    font-weight: bold;
}
img
{
    margin: 5px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
header
{
    background-image: url('../img/informatique.jpg');
    background-size: 100%;
    text-align: right;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0%;
    text-shadow: lightcoral 5px 3px 2px;
    transition: all 4s;
}
.content_flex
{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content:space-between   ;
    background-color: ivory;
    margin: 2% 0%;
    
}
.Title_flex
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
article
{
    margin: 2%;
}
a
{
    text-decoration: none;
    color: coral;
}
a:hover
{
    
    background-color: darkcyan;
    color: coral;
    border-radius: 25%;
}
h3
{
    font-size: 1.5vw;
    font-style: italic;
}
.Competence, .Coordonnées
{
    width: 35%;
}
.Parcours, .Experience
{
    width: 65%;
}
.Content_travail
{
    font-weight: bold;
    margin: 2% 0%;
}   
